---
type Props =  {
  title: string;
  link: 'STACK';
} | {
  title: string;
  link: 'ENVIRONMENT';
  env: string;
  stack: string;
};

const { title, link } = Astro.props;
const url = (link === 'STACK') ? `/stack/${title}` : 
                    `/stack/${Astro.props.stack}?env=${Astro.props.env}`;
---

<a href={url}><article>{title}</article></a>

<style>
  article {
    text-align: center;
    margin: 0;
  }
</style>
